* {
    font-family: 'Courier New', Courier, monospace;
}

.about {
    font-size: 25px;
    color: blueviolet;
    padding-bottom: 10px;
}

.hobi p {
    font-size: 25px;
    color: blueviolet;
    letter-spacing: 2px;
}

.hobi li {
    font-size: 20px;
    list-style: square;
    margin-bottom: 15px;
}

.hobi {
    padding-bottom: 10px;
}

.komen p {
    font-size: 25px;
    color: blueviolet;
    letter-spacing: 2px;
}

.contact-input{
    width: 33%;
    padding: 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: .5rem;
}
